html { overflow: hidden; }
body { font-family: 'Open Sans', sans-serif; line-height: .8; font-size: 45px; color: #333;}

.background {
	position: fixed;
	height: 100%;
	width: 100%;
	background: -moz-radial-gradient(50% 50%, farthest-side, #fff, #efefef);
	background: -webkit-gradient(radial, 50% 50%, 250, 50% 50%, 750, from(#fff), to(#efefef));
	z-index: 0;
    opacity: 1;
}

#hint {
    z-index: 9999;
    position: fixed; top: 0; left: 20px;
    font-size: 16px;
    background: #ddd;
    color: #666;
    padding: 6px 12px 12px;
    font-style: italic;
    opacity: 0;
    border-radius: 0 0 10px 10px;
    
    -webkit-transition: opacity 2s;
    -moz-transition:    opacity 2s;
    -ms-transition:     opacity 2s;
    -o-transition:      opacity 2s;
    transition:         opacity 2s;
    
    -webkit-transition-delay: 6s;
    -moz-transition-delay: 6s;
    -ms-transition-delay: 6s;
    -o-transition-delay: 6s;
    transition-delay: 6s;
}

#hint a { text-decoration: underline; font-style: italic; }

#hint:hover {
    opacity: 1;
    -webkit-transition: opacity .25s;
    -moz-transition:    opacity .25s;
    -ms-transition:     opacity .25s;
    -o-transition:      opacity .25s;
    transition:         opacity .25s;
}

a, a:hover, a:visited {
    text-decoration: none;
    font-style: normal;
    color: #666;
    cursor: pointer;
}
a:hover { color: #333;}

.title { font-size: 275px; }
.big { text-transform: uppercase; margin: 0; padding: 0; }
.bold { font-weight: 800; }
.light { font-weight: 400; }
.extralight { font-weight: 300; letter-spacing: .1em; }
.small { display: block; padding: 20px; font-size: 20px; font-weight: 600; }

blockquote {
    text-align: justify;
    font-weight: 300;
    font-style: italic;
    line-height: 1.4;
}

blockquote .author {
    display: block;
    text-align: right;
    padding: 0px 0px;
    font-weight: 600;
}

.img-wrap {	margin: 0 auto; }
.img-inline { display: inline-block; padding: 12px 3px; }
.img-link {	text-decoration: none; }
.img-border { border: solid 1px #aaa; }


/* COMMON STEP STYLES */

.step {
    text-align: center;
    width: 1000px;
    padding: 20px;

    -webkit-box-sizing: border-box;
    -moz-box-sizing:    border-box;
    -ms-box-sizing:     border-box;
    -o-box-sizing:      border-box;
    box-sizing:         border-box;
    
    -webkit-transition: opacity 1s;
    -moz-transition:    opacity 1s;
    -ms-transition:     opacity 1s;
    -o-transition:      opacity 1s;
    transition:         opacity 1s;
    
    text-shadow: rgba(0,0,0,.01) 0 0 1px; /* Chrome @font-face anti-aliasing fix */
}

.step:not(.active) { opacity: 0.1; }

.capital{ text-transform: uppercase;}
/* STEP SPECIFIC STYLES */
#title #name{ position: absolute; font-size: 200px; left: 50px; top: 0px; }
#title #tagline{ font-size: 40 }
#title #authors{  float: right; vertical-align: bottom;  text-align: left}
#title #authors #by{   }
#title #authors .title-author{ font-size: 30px;  line-height: 50px; }

#intro-head{ -webkit-transform: scale(1,3); letter-spacing: 12px; font-size: 100px; position: relative; left: 10px; font-weight: bold; line-height: 100px}
#what-opn { letter-spacing: 10px; font-size: 50px; position: relative; left: 10px; line-height: 70px}
#what-vot { letter-spacing: 14px; font-size: 82px; position: relative; left: 10px; line-height: 70px}
#what-fair { letter-spacing: 5px; font-size: 50px; position: relative; left: 10px; line-height: 70px}

#existing-head{ -webkit-transform: scale(1,3); letter-spacing: 5px; font-size: 90px; position: relative; left: 10px; font-weight: bold; line-height: 100px}
#exst-soc{ letter-spacing: 4px; font-size: 45px; position: relative; left: 10px; line-height: 70px}
#exst-onl{ letter-spacing: 4px; font-size: 45px; position: relative; left: 10px; line-height: 70px}
#exst-lac{ letter-spacing: 1px; font-size: 45px; position: relative; left: 10px; line-height: 70px}

#problems-head{ -webkit-transform: scale(1,3); letter-spacing: 25px; font-size: 135px; left: 10px; font-weight: bold; line-height: 100px}
#prob-exist{ letter-spacing: 1px; font-size: 35px; position: relative; left: 10px; line-height: 70px}
#prob-new{ letter-spacing: 2px; font-size: 51px; position: relative; left: 10px; line-height: 70px; }

#mission-head{ -webkit-transform: scale(1,2); letter-spacing: 30px; font-size: 180px; left: 10px; font-weight: bold; line-height: 100px; }
#mis-aim{ letter-spacing: 80px; font-size: 93px; position: relative; left: 20px; line-height: 70px; }
#mis-sol{ letter-spacing: 10px; font-size: 50px; position: relative; left: 20px; line-height: 70px; }

#challange-head{ -webkit-transform: scale(1,1); letter-spacing: 25px; font-size: 100px; left: 10px; font-weight: bold; }
#challange-face{ -webkit-transform: scale(1,1); letter-spacing: 56px; font-size: 40px; left: 10px;  }

#tech-head{ -webkit-transform: scale(1,2); letter-spacing: 30px; font-size: 80px; left: 10px; font-weight: bold; line-height: 0px; }
#tech-use{ letter-spacing: 51px; font-size: 60px; position: relative; left: 20px; line-height: 0px; }

#done-work{ -webkit-transform: scale(1,1); letter-spacing: 13px; font-size: 60px; position: relative; left: 20px;  line-height: 80px}
#done-road{ -webkit-transform: scale(1,2); letter-spacing: 42px; font-size: 80px; position: relative; left: 20px; }

.ques{ position: absolute; top: -200px; font-size: 70px; margin: 15px;}
.ans{ position: absolute; font-size: 30px; top: -70px; right: 0px; width: 700px; line-height: 40px}

.quote{  position: absolute; top: 200px; font-size: 22px; }

#fair{ position: absolute; top: -200px; font-size: 70px; margin: 15px;}
#fair-def{ position: absolute; font-size: 30px; top: -70px; right: 0px; width: 700px; line-height: 40px}

#big-but{ -webkit-transform: scale(1,1); letter-spacing: 25px; font-size: 435px; left: 10px; font-weight: bold; line-height: 100px}

#fairness{ font-size: 35px; }

#arrow{ font-size: 35px; }
.arrow-quote{  font-size: 33px; }

#fairness-text1{ -webkit-transform: scale(1,1); letter-spacing: 43px; font-size: 35px; left: 20px;  }
#fairness-text2{ -webkit-transform: scale(1,0.8); letter-spacing: 0px; font-size: 55px; left: 10px; font-style: bold }
#criterias{ font-size: 30px; text-decoration: none; }
#criterias li { text-decoration: none; line-height: 30px;}

#arrow1{-webkit-transform: scale(1,1); position: absolute; left: -170px; top: -200px;  letter-spacing: 0px; font-size: 55px;  }
#arrow2{ position: absolute; top: 0px; left: 20px;  }

#social-head{position: absolute; top: 0px; letter-spacing: 85px; font-size: 120px; position: relative; left: 130px;  line-height: 160px}
#system-head{position: absolute; top: -50px; letter-spacing: 10px; font-size: 180px; position: relative; left: 100px; font-weight: bold; line-height: 100px}

#polling-society #polling-soc-head{ position: absolute; top: -230px; left: -140px; font-size: 80px;}
#polling-society #text1{ position: absolute; letter-spacing: 20px; left: -140px; top: -70px; font-size: 60px; font-weight: 100;}
#polling-society #text2{ position: absolute; letter-spacing: 0px; left: -140px; top: 30px; font-size: 60px; font-weight: 300 !important;}
#polling-society #text3{ position: absolute; letter-spacing: 100px; left: -140px; top: 120px; font-size: 60px; font-weight: 600;}
#polling-society #text4{ position: absolute; letter-spacing: 0px; left: -140px; top: 220px; font-size: 53px; font-weight: 100;}

#polling-media #polling-med-head{ -webkit-transform: scale(1,2); position: absolute; top: -260px; left: 60px; font-size: 50px; font-weight: bold;}
#polling-media #text1{ position: absolute; letter-spacing: 15px; left: 60px; top: -30px; font-size: 35px; font-weight: 100;}
#polling-media #text2{ position: absolute; letter-spacing: 6px; left: 60px; top: 60px; font-size: 35px; font-weight: 300 !important;}
#polling-media #text3{ position: absolute; letter-spacing: 0px; left: 60px; top: 140px; font-size: 35px; font-weight: 600;}
#polling-media #text4{ position: absolute; letter-spacing: 0px; left: 60px; top: 220px; font-size: 27px; font-weight: 100;}

#polling-online #text1{ position: absolute; letter-spacing: 19px; left: 60px; top: -230px; font-size: 60px; font-weight: 100;}
#polling-online #text2{ position: absolute; letter-spacing: 40px; left: 60px; top: -80px; font-size: 60px; font-weight: 100;}
#polling-online #text3{ position: absolute; letter-spacing: 37px; left: 60px; top: 50px; font-size: 60px; font-weight: 100;}
#polling-online #text4{ position: absolute; letter-spacing: 60px; left: 60px; top: 180px; font-size: 60px; font-weight: 100;}

#problems #text1{ font-size: 130px; text-align: left; line-height: 200px;}

#democracy #text1{ font-size: 100px; text-align: left; line-height: 120px;}

.foottext{ font-size: 35px; text-align: center; line-height: 50px; font-style: italic;}

#nonsocial #text1{ font-size: 120px; text-align: left; line-height: 120px;}
#nonsocial #text2{ font-size: 220px; text-align: left; line-height: 200px;}

#feedback #text1{ font-size: 100px; text-align: left; line-height: 120px;}
#feedback #text2{ font-size: 180px; text-align: left; line-height: 200px;}

#banana #text1{ letter-spacing: 20px; font-size: 100px; text-align: left; line-height: 120px;}
#banana #text2{ letter-spacing: 10px;  font-size: 190px; text-align: left; line-height: 200px;}



#respond-text1 { font-size: 84px; }
#respond-text2 { font-size: 202px; }
#respond-text3 { font-size: 77px; }

#ar-adaptive { font-size: 192px; }
#ar-adaptive-fixed { font-size: 54px; }
#ar-responsive { font-size: 153px; }
#ar-responsive-fluid { font-size: 57px; }

#combo-text { font-size: 247px; }
#combo-or { position: relative; left: -20px; }
#combo-fluid-fixed div { float: left; text-align: center; }
#combo-plus { width: 10%; font-size: 100px; }
#combo-fixed, #combo-fluid { width: 45%; }
#combo-fluid-fixed div .bold { font-size: 63px; width: 100%; }
#combo-fluid-fixed div .light { font-size: 50px; width: 100%; }
#combo-fluid .light { letter-spacing: 3px; }




#who-real-not { font-size: 36px; padding-bottom: 10px; position: relative; left: 3px; }
#who-real-real { font-size: 93px; }
#who-bg { font-size: 91px; }
#who-bg-desc { font-size: 36px; padding-top: 10px; }
#who-obama { font-size: 102px; }
#who-obama-desc { font-size: 20px; padding-top: 10px; }
#who-greygoose { font-size: 88px; }
#who-greygoose-desc { font-size: 25px; padding-top: 10px; margin-left: 8px; }
#who-cac { font-size: 80px; }
#who-cac-desc { font-size: 35px; padding-top: 10px; }
#who-more { font-size: 90px; }
#who-more a { font-size: 60px; }

#when-things div { font-size: 87px; }
#when-thing1, #when-thing2, #when-thing1, #when-thing1 { position: relative; padding: 0; }
#when-thing1 { left: 20px; font-size: 124px; }
#when-thing2 { left: 10px; font-size: 93px; letter-spacing: 0; }
#when-thing3 { font-size: 120px; }
#when-thing4 { font-size: 190px; }

#how-quote blockquote { text-align: center; font-size: 70px; line-height: 1.2; }
#how-frameworks-text { font-size: 129px; line-height: .9; }
#how-frameworks span { font-weight: 800; font-size: 45px; display: block; }
#how-savetime { position: relative; left: 20px; letter-spacing: 40px; font-size: 83px; }
#how-rollyourown { font-size: 103px; }
#how-control { position: relative; left: 12px; letter-spacing: 20px; font-size: 68px; }
#how-best { font-size: 117px; }
#how-best1 { font-size: 118px; }
#how-best2 { font-size: 147px; }
#how-best2-small { font-size: 150px; }
#how-best3 { font-size: 119px; }
#how-best3-exit { font-size: 114px; }
#how-best4 { font-size: 115px; }
#how-best5 { font-size: 82px; }
#how-best6 .extralight { letter-spacing: 7px; }

.adj-j { font-size: 88%; position: relative; top: -10px; }

.where-step { width: 1100px; }
.where-step .extralight { line-height: .9; }
#where { position: relative; left: -40px; letter-spacing: -10px; }

#where-leaders { font-size: 238px; }
#where-leader-em { font-size: 99px; }
#where-leader-lw { font-size: 91px; letter-spacing: 10px; }
#where-leader-sj { font-size: 108px; letter-spacing: 42px; position: relative; left: 15px; }
#where-leader-cc { font-size: 95px; letter-spacing: 32px; position: relative; left: 10px; }
#where-leader-jk { font-size: 102px; letter-spacing: 28px; position: relative; left: 20px; }

#where-learn { font-size: 230px; }
#where-learn-t { font-size: 143px; }
#where-learn-ala { font-size: 127px; }
#where-learn-tp { font-size: 88px; }
#where-learn-rn { font-size: 89px; }

#where-cool-title { font-size: 160px; }
#where-cool-b { font-size: 120px; letter-spacing: 30px; position: relative; left: 10px; }
#where-cool-g { font-size: 114px; letter-spacing: 25px; position: relative; left: 10px; }
#where-cool-f { font-size: 109px; letter-spacing: 25px; position: relative; left: 10px; }
#where-cool-s { font-size: 131px; letter-spacing: 41px; position: relative; left: 18px; }
#where-cool-r { font-size: 120px; letter-spacing: 20px; position: relative; left: 10px; }
#where-cool-title2 { font-size: 108px; letter-spacing: -3px; position: relative; left: -5px; }
#where-cool-fit { font-size: 110px; position: relative; left: 5px; }
#where-cool-fi { font-size: 124px; letter-spacing: 11px; }
#where-cool-bp { font-size: 108px; }
#where-cool-sz { font-size: 65px; }
#where-cool-more a { font-size: 30px; font-style: italic; position: relative; top: -10px; }

#credits { width: 1200px; padding: 0; }
#credits .big { font-size: 150px; }
#credits p { font-style: italic; font-size: 30px; margin: 24px; padding: 0; color: #666; }
#credits p.first { margin-bottom: 45px; font-size: 40px; }
#credits a { font-style: italic; font-weight: bold; text-decoration: underline; }
